.container{
    width: 400px;
    height: 200px;
    background: skyblue;
    border: 1px solid lightblue;
    text-align: center;
    margin-bottom: 20px;
}
.container2{
    width: 300px;
    height: 100px;
    background: skyblue;
    border: 1px solid lightblue;
    text-align: center;
    margin-bottom: 20px;
}
.boxblue {
    color: white;
}